html,
body {
    font-family: 'JetBrains Mono';
    height: 100%;
    /* margin collapse fix to hide scrollbar */
    margin: 0; 
    animation: fadeVisibility 1s;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    padding: 0 5%;
}

nav {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.75rem;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

main {
    flex: 1 0 auto;
}

div#content {
    flex-direction: column;
    display: flex;
}

#aboutPicture {
    border-radius: 5%;
    height: auto;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    float: right;
}

a#resume {
    color: inherit;
}

footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

footer img {
    height: 1.25rem;
    width: auto;
    padding: 0 1rem;
}

/* breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #aboutPicture{
        width: 100%;
        float: none;
    }
    .bio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #aboutPicture {
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #aboutPicture {
        width: 33%;
    }
    body {
        padding: 0 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        padding: 0 15%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        padding: 0 20%;
    }
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#currentPhoto {
    height: 90vh;
    width: auto;
    margin: auto;
}